* {
        margin: 0;
        padding: 0;
    }

    ul li {
        list-style: none;
    }

    html,
    body,
    .wrap {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
	body{
		font-size: .03rem;
	}
    .wrap img {
        width: 100%;
    }
    header{
		height: .8rem;
		display: flex;
		justify-content: space-between;
		padding: 0 .1rem;
		line-height: .8rem;
		border-bottom: 1px solid #eee; 
	}
.tab{
	text-align: center;
}
.tab>a{
	padding: .2rem .2rem;
	display: inline-block;
	color: #333333;
}
